include ../partials/mixins

main
  section.controls
    div.control-set#box-sizing
      fieldset
        legend#bs box-sizing
        label
          input(type="radio", ng-model="box.sizing", value="content-box" class="radio")
          | content-box
        label
          input(type="radio", ng-model="box.sizing", value="border-box" class="radio")
          | border-box
    div.control-set#dimensions
      fieldset
        legend dimensions
        label width
        slider(ng-model="dimensions.width" min="0" max="400" step="20")
        div.value {{dimensions.width}}px
        label height
        slider(ng-model="dimensions.height" min="0" max="400" step="20")
        div.value {{dimensions.height}}px
    each attr in ["padding","border","margin"]
      div.control-set(id=attr)
        fieldset
          legend= attr
          each val in ["top", "right", "bottom", "left"]
            label #{attr}-#{val}
            slider(floor="0" ceiling="300" step="5" precision="1" ng-model="#{attr}.#{val}")

            //- slider(ng-model="#{attr}.#{val}")
            div.value {{#{attr}.#{val}}}px

  section.box-model
    div#dimensions
      h2 Generated Dimensions
      div.generated-width width: {{generatedDimensions.width}}px
      div.generated-height height: {{generatedDimensions.height}}px
    div#diagram
      .box(ng-style="{'top': boxPosition.top+'px', 'left': boxPosition.left+'px', 'width': dimensions.width+'px', 'height': dimensions.height+'px'}")
        .box-margin.box-property(ng-style="{'width': styleMargin.width+'px', 'height': styleMargin.height+'px', 'top': styleMargin.top+'px', 'left': styleMargin.left+'px'}")
          span.marker#marker-margin margin
          span#margin-v.box-property-vertical(data-id="margin-v", data-top="{{margin.top}}", data-bottom="{{margin.bottom}}", label-position-top="{{margin.top}}", label-position-bottom="{{margin.bottom}}", label-position-v="")
          span#margin-h.box-property-horizontal(data-id="margin-h", data-left="{{margin.left}}", data-right="{{margin.right}}", label-position-right="{{margin.right}}", label-position-left="{{margin.left}}", label-position-h="")
        .box-border.box-property(ng-style="{'width': styleBorder.width+'px', 'height': styleBorder.height+'px', 'top': styleBorder.top+'px', 'left': styleBorder.left+'px'}")
          span.marker#marker-border border
          span#border-v.box-property-vertical(data-id="border-v", data-top="{{border.top}}", data-bottom="{{border.bottom}}", label-position-top="{{border.top}}", label-position-bottom="{{border.bottom}}", label-position-v="")
          span#border-h.box-property-horizontal(data-id="border-h", data-left="{{border.left}}", data-right="{{border.right}}", label-position-right="{{border.right}}", label-position-left="{{border.left}}", label-position-h="")
        .box-padding.box-property(ng-style="{'width': stylePadding.width+'px', 'height': stylePadding.height+'px', 'top': stylePadding.top+'px', 'left': stylePadding.left+'px'}")
          span.marker#marker-padding padding
          span#padding-v.box-property-vertical(data-id="padding-v", data-top="{{padding.top}}", data-bottom="{{padding.bottom}}", label-position-top="{{padding.top}}", label-position-bottom="{{padding.bottom}}", label-position-v="")
          span#padding-h.box-property-horizontal(data-id="padding-h", data-left="{{padding.left}}", data-right="{{padding.right}}", label-position-right="{{padding.right}}", label-position-left="{{padding.left}}", label-position-h="")
        .box-inner.box-property(ng-style="{'width': innerContent.width+'px', 'height': innerContent.height+'px'}", data-height="{{dimensions.height}}", data-width="{{dimensions.width}}")
          span.marker#marker-content content



