mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provide

mixin controlset
  each attr in ["margin", "padding", "border"]
    div.control-set
      each val in ["top", "right", "bottom", "left"]
        label #{attr}-#{val}
        slider(ng-model="#{attr}.#{val}")
        div.value {{#{attr}.#{val}}}px
